<p-card header="Course home page" styleClass="admin-card p-mt-5">
  <div class="p-field">
    <small id="title-help">Enter a title for the course.</small>
    <input
      placeholder="Title"
      id="title"
      class="p-inputtext-sm"
      type="text"
      aria-describedby="title-help"
      pInputText
      [(ngModel)]="title"
    />
  </div>
  <div class="p-field">
    <small id="title-help">Enter a subtitle for the course.</small>
    <input
      placeholder="Subtitle"
      id="title"
      class="p-inputtext-sm"
      type="text"
      aria-describedby="title-help"
      pInputText
      [(ngModel)]="subtitle"
    />
  </div>
  <div class="p-field">
    <small id="title-help">Select a teacher for the course.</small>
    <p-dropdown
      id="teacher"
      [options]="teachers"
      [(ngModel)]="teacher"
      optionLabel="name"
      optionValue="id"
    ></p-dropdown>
  </div>
  <div class="p-field">
    <small id="title-help">Enter a full description for the course.</small>
    <p-editor
      [(ngModel)]="description"
      [style]="{ height: '200px' }"
    ></p-editor>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button
      class="default-btn"
      (click)="updateCourse()"
      [disabled]="disableUpdate(title, subtitle, description)"
    >
      <ng-container *ngIf="!loading">
        <i class="pi pi-pencil icon-arrow before"></i>
      </ng-container>
      <ng-container *ngIf="loading">
        <ng-container
          *ngTemplateOutlet="spinner; context: { $implicit: 'before' }"
        ></ng-container>
      </ng-container>

      <span class="label">Update Course</span>

      <ng-container *ngIf="!loading">
        <i class="pi pi-pencil icon-arrow after"></i>
      </ng-container>
      <ng-container *ngIf="loading">
        <ng-container
          *ngTemplateOutlet="spinner; context: { $implicit: 'after' }"
        ></ng-container
      ></ng-container>

      <ng-template #spinner let-iClass>
        <i [class]="iClass" class="icon-arrow">
          <p-progressSpinner
            styleClass="custom-spinner"
            strokeWidth="7"
            [style]="{
              width: '22px',
              height: '22px',
              color: '#fff !important'
            }"
          ></p-progressSpinner>
        </i>
      </ng-template>
    </button>
  </div>
</p-card>
