<p-card header="Create Sections" class="create-section">
  <p class="create-section__description">
    <i class="pi pi-exclamation-circle"></i>
    Add your course content, whether it's video sections, surveys, articles, and
    resources. Click the + icon on the left to create the section.
  </p>
  <app-sections
    *ngFor="let section of sections; let i = index"
    [count]="i + 1"
    [data]="section"
    [course]="courseId"
    (save)="updateSection($event)"
  >
  </app-sections>
  <div class="d-flex justify-content-center mt-3">
    <button
      class="default-btn"
      (click)="addSection()"
      [disabled]="disableAdd || loading"
    >
      <ng-container *ngIf="!loading">
        <i class="pi pi-pencil icon-arrow before"></i>
      </ng-container>
      <ng-container *ngIf="loading">
        <ng-container
          *ngTemplateOutlet="spinner; context: { $implicit: 'before' }"
        ></ng-container>
      </ng-container>

      <span class="label">New Section</span>

      <ng-container *ngIf="!loading">
        <i class="pi pi-pencil icon-arrow after"></i>
      </ng-container>
      <ng-container *ngIf="loading">
        <ng-container
          *ngTemplateOutlet="spinner; context: { $implicit: 'after' }"
        ></ng-container
      ></ng-container>

      <ng-template #spinner let-iClass>
        <i [class]="iClass" class="icon-arrow">
          <p-progressSpinner
            styleClass="custom-spinner"
            strokeWidth="7"
            [style]="{
              width: '22px',
              height: '22px',
              color: '#fff !important'
            }"
          ></p-progressSpinner>
        </i>
      </ng-template>
    </button>
  </div>
</p-card>
