<div class="d-flex justify-content-center" *ngIf="question?.options.length">
  <div>
    <div
      class="ql-editor editor-html question-html"
      [innerHtml]="question?.question"
    ></div>
    <ul class="unstyled-list">
      <li class="d-flex w-100 mb-2" *ngFor="let option of question?.options">
        <p-radioButton
          [inputId]="option.id"
          name="answer-result"
          [value]="option.id"
          [(ngModel)]="selected"
          [disabled]="answer"
        ></p-radioButton>
        <p style="margin-left: 1.2rem">{{ option.description }}</p>
      </li>
    </ul>
    <div
      [style.opacity]="message.text ? 1 : 0"
      class="quiz-content__message"
      [class]="{ correct: message.correct }"
    >
      <i
        class="pi p-mr-1"
        [class]="{
          'pi-check-circle': message.correct,
          'pi-times': !message.correct
        }"
      ></i>
      <span>{{ message.text }}</span>
    </div>
  </div>
</div>
