<div
  class="overlay"
  [class]="{ activeOverlay: (adminService.viewMenu$ | async) }"
  (click)="adminService.toggleNav()"
></div>
<div
  class="admin-side-nav"
  [class]="{ active: (adminService.viewMenu$ | async) }"
>
  <div pRipple class="admin-side-nav__close" (click)="adminService.toggleNav()">
    <i class="pi pi-times"></i>
  </div>
  <img class="admin-side-nav__logo" src="assets/img/logoEN.png" alt="logo" />
  <div class="menu-list-container">
    <ng-container *ngIf="items">
      <ng-container
        *ngTemplateOutlet="menu; context: { $implicit: items, lvl: 0 }"
      >
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #menu let-items let-lvl="lvl">
  <ul class="menu-list">
    <ng-container *ngFor="let item of items; let i = index">
      <li
        *ngIf="!item.admin || actualUser.role === roles.ADMIN"
        [routerLink]="item.route"
        class="menu-item-container"
        [ngClass]="{ 'menu-item-container--open': item.open }"
      >
        <div
          class="menu-item"
          [style.paddingLeft]="(44 * lvl || 15) + 'px'"
          (click)="openMenu(i)"
        >
          <i [ngClass]="[item.icon, 'menu-item__icon']"></i>
          <span>
            {{ item.label }}
            <p-badge
              *ngIf="item.badgeCount"
              [value]="item.badgeCount"
              severity="danger"
            ></p-badge>
            <i
              *ngIf="item.routes"
              class="pi pi-angle-down menu-item__arrow"
              [ngClass]="{ 'menu-item__arrow--open': item.open }"
            ></i>
          </span>
        </div>
        <div *ngIf="item.routes" class="menu-item__sublist">
          <ng-container
            *ngTemplateOutlet="
              menu;
              context: { $implicit: item.routes, lvl: lvl + 1 }
            "
          >
          </ng-container>
        </div>
      </li>
    </ng-container>
  </ul>
</ng-template>
