<div class="banner-section">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="banner-content">
          <h1>Hablar inglés ahora es fácil</h1>
          <p>
            ¡Atrévete a explorar tus talentos en este idoma de una forma
            innovadora y divertida, sin libros!
          </p>
          <div class="btn-box">
            <a href="#contact" class="default-btn"
              ><i class="bx bx-move-horizontal icon-arrow before"></i
              ><span class="label">Empezar</span
              ><i class="bx bx-move-horizontal icon-arrow after"></i
            ></a>
            <!-- <a
              href="https://www.youtube.com/watch?v=bk7McNUjWgw"
              target="_blank"
              class="video-btn"
              ><span><i class="bx bx-play-circle"></i></span>Mirar video</a
            > -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
</div>
