<div class="instructor-slides">
  <owl-carousel-o [options]="instructorSlides">
    <ng-template carouselSlide>
      <div class="single-instructor-box mb-30">
        <div class="image">
          <img
            src="assets/img/instructor/Jhoselyn-Pineda.jpg"
            alt="Jhoselyn-Pineda"
          />
        </div>
        <div class="content">
          <h3>Jhoselyn Pineda</h3>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="single-instructor-box mb-30">
        <div class="image">
          <img
            src="assets/img/instructor/Sebastian-Anzola.jpg"
            alt="Sebastián-Anzola"
          />
        </div>
        <div class="content">
          <h3>Sebastián Anzola</h3>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="single-instructor-box mb-30">
        <div class="image">
          <img
            src="assets/img/instructor/Oriana-Barrios.jpg"
            alt="Oriana-Barrios"
          />
        </div>
        <div class="content">
          <h3>Oriana Barrios</h3>
        </div>
      </div>
    </ng-template>
    <!-- <ng-template carouselSlide>
      <div class="single-instructor-box mb-30">
        <div class="image">
          <img src="assets/img/instructor/instructor4.jpg" alt="image" />
          <ul class="social">
            <li>
              <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>
            </li>
          </ul>
        </div>
        <div class="content">
          <h3><a routerLink="/single-instructor">Jonkin Jullinor</a></h3>
          <span>OOP Developer</span>
        </div>
      </div>
    </ng-template> -->
  </owl-carousel-o>
</div>
