<p-card header="User profile" styleClass="admin-card p-mt-5">
  <form [formGroup]="form">
    <div class="p-field">
      <small id="title-help">Enter a title for the course.</small>
      <input
        placeholder="Title"
        id="title"
        class="p-inputtext-sm"
        type="text"
        aria-describedby="title-help"
        pInputText
        formControlName="name"
      />
    </div>
    <div class="p-field">
      <small id="title-help">Enter a subtitle for the course.</small>
      <input
        placeholder="Subtitle"
        id="title"
        class="p-inputtext-sm"
        type="text"
        aria-describedby="title-help"
        pInputText
        formControlName="email"
      />
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button
        class="default-btn"
        (click)="updateUser()"
        [disabled]="form.invalid"
      >
        <ng-container *ngIf="!loading">
          <i class="pi pi-pencil icon-arrow before"></i>
        </ng-container>
        <ng-container *ngIf="loading">
          <ng-container
            *ngTemplateOutlet="spinner; context: { $implicit: 'before' }"
          ></ng-container>
        </ng-container>

        <span class="label">Update User</span>

        <ng-container *ngIf="!loading">
          <i class="pi pi-pencil icon-arrow after"></i>
        </ng-container>
        <ng-container *ngIf="loading">
          <ng-container
            *ngTemplateOutlet="spinner; context: { $implicit: 'after' }"
          ></ng-container
        ></ng-container>

        <ng-template #spinner let-iClass>
          <i [class]="iClass" class="icon-arrow">
            <p-progressSpinner
              styleClass="custom-spinner"
              strokeWidth="7"
              [style]="{
                width: '22px',
                height: '22px',
                color: '#fff !important'
              }"
            ></p-progressSpinner>
          </i>
        </ng-template>
      </button>
    </div>
  </form>
</p-card>
