<div class="courses-categories-slides">
  <owl-carousel-o [options]="categoriesSlides">
    <ng-template carouselSlide>
      <div class="single-categories-courses-box mb-30">
        <div class="icon">
          <i class="bx bx-video-recording"></i>
        </div>
        <h3>Live sessions</h3>
        <span>60 Courses</span>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="single-categories-courses-box mb-30">
        <div class="icon">
          <i class="bx bx-camera"></i>
        </div>
        <h3>Small Groups</h3>
        <span>21 Courses</span>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="single-categories-courses-box mb-30">
        <div class="icon">
          <i class="bx bx-layer"></i>
        </div>
        <h3>Monthly Reports</h3>
        <span>58 Courses</span>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="single-categories-courses-box mb-30">
        <div class="icon">
          <i class="bx bxs-flag-checkered"></i>
        </div>
        <h3>Feedback</h3>
        <span>99 Courses</span>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="single-categories-courses-box mb-30">
        <div class="icon">
          <i class="bx bx-health"></i>
        </div>
        <h3>Private Community</h3>
        <span>21 Courses</span>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="single-categories-courses-box mb-30">
        <div class="icon">
          <i class="bx bx-certification"></i>
        </div>
        <h3>Certificate</h3>
        <span>49 Courses</span>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
