@import "../header-style-one/header-style-one.component.scss";

.navbar-nav {
  margin-left: auto !important;
}

.top-header-style-two {
  display: none
}

@media only screen and (min-width: 991px) {
  .top-header-style-two {
      display: block
  }
}