<div class="testimonials-slides">
  <owl-carousel-o [options]="testimonialsSlides">
    <ng-template carouselSlide>
      <a
        class="single-testimonials-item"
        href="https://www.youtube.com/watch?v=k-HwImfN0xg"
        target="blanck"
      >
        <p>
          Desde pequeña el inglés siempre me gustó, pero necesitaba aprender de
          la forma correcta. Luego de intentar en otros cursos, encontré Easy
          English, el cual se adapto a mis necesidades y paso a paso he logrado
          superar mis propios limites en este idioma. A través de clases
          grupales y el apoyo de todos nuestros teachers.
        </p>
        <div class="info">
          <img
            src="assets/img/testimonials/victoria.jpg"
            class="shadow rounded-circle"
            alt="image"
          />
          <h3>Victoria Urdaneta</h3>
          <!-- <span>Student</span> -->
        </div>
      </a>
    </ng-template>
    <ng-template carouselSlide>
      <a
        class="single-testimonials-item"
        href="https://www.youtube.com/watch?v=nYVmJwBdUTk"
        target="blanck"
      >
        <p>
          Tengo un año y medio estudiando ingles con Easy English a través de
          clases online y puedo decir que he aprendido muchas cosas gracias al
          método que emplean, me divierto con mis compañeros de clase al mismo
          tiempo que practico mis habilidades orales en el idioma. Al principio
          sentía temor del ingles pero hoy en día logro entender todo fácilmente
          debido a la practica constante y la manera en que aprendemos en esta
          academia.
        </p>
        <div class="info">
          <img
            src="assets/img/testimonials/rayan.jpg"
            class="shadow rounded-circle"
            alt="image"
          />
          <h3>Rayan Karame</h3>
          <!-- <span>Student</span> -->
        </div>
      </a>
    </ng-template>
    <ng-template carouselSlide>
      <a
        class="single-testimonials-item"
        href="https://www.youtube.com/watch?v=fMgSD2882gE"
        target="blanck"
      >
        <p>
          ¡Hola! Tengo 8 años y asisto al curso con mi primo Luciano dos veces a
          la semana, me gustan mucho mis clases de ingles porque los profesores
          son muy pacientes y divertidos. He aprendido muchas palabras nuevas y
          frases en Easy English.
        </p>
        <div class="info">
          <img
            src="assets/img/testimonials/aranza.jpg"
            class="shadow rounded-circle"
            alt="image"
          />
          <h3>Aranza Zambrano</h3>
          <!-- <span>Student</span> -->
        </div>
      </a>
    </ng-template>
    <ng-template carouselSlide>
      <a
        class="single-testimonials-item"
        href="https://www.youtube.com/watch?v=6RKJC20Wf9c"
        target="blanck"
      >
        <p>
          ¡Hola! Me gusta mucho Easy English porque puedo aprender con mis
          amigas y la paso muy bien con mis cuatro profesores, todos son
          diferentes pero en cada clase aprendemos algo nuevo y genial.
        </p>
        <div class="info">
          <img
            src="assets/img/testimonials/paula.jpg"
            class="shadow rounded-circle"
            alt="image"
          />
          <h3>Paula Peña</h3>
          <!-- <span>Student</span> -->
        </div>
      </a>
    </ng-template>
  </owl-carousel-o>
</div>
