<div class="offer-area pt-100">
  <div class="container">
    <div class="section-title">
      <!-- <span class="sub-title">Make Connections</span> -->
      <h2>Somos más que una clase de inglés.</h2>
      <p>
        En Easy English nos caracterizamos por ofrecer distintos servicios en el
        área del inglés.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-offer-box">
          <div class="icon">
            <i class="bx bx-book-reader"></i>
          </div>
          <h3>Programa principal.</h3>
          <p>
            15 horas académicas al mes, que pueden dividirse en 3 días con 60
            minutos de clases o dos días con 90 minutos de clase. Esta modalidad
            puede ser presencial o virtual con sesiones en vivo.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-offer-box">
          <div class="icon">
            <i class="bx bx-target-lock"></i>
          </div>
          <h3>Programa intensivo</h3>
          <p>
            25 horas académicas al mes, de 60 minutos diarios cada clase. Esta
            modalidad puede ser presencial o virtual con sesiones en vivo
          </p>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3"
      >
        <div class="single-offer-box">
          <div class="icon">
            <i class="bx bxs-thermometer"></i>
          </div>
          <h3>Preparación para entrevistas laborales</h3>
          <p>
            Te orientamos en todo el ámbito laboral para que puedas tener una
            entrevista exitosa, donde logres expresar todas tus habilidades y
            conocimientos en el área requerida. Además de asesorarte para
            realizar tu CV.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
