<h2>Create Course</h2>
<div class="container mt-5" style="max-width: 1200px;">
  <p-card header="Course home page" styleClass="admin-card">
      <div class="p-field">
          <small id="title-help">Enter a title for the course.</small>
          <input placeholder="Title" id="title" class="p-inputtext-sm" type="text" aria-describedby="title-help" pInputText [(ngModel)]="title" />
        </div>
          <div class="p-field">
          <small id="title-help">Enter a subtitle for the course.</small>
          <input placeholder="Subtitle" id="title" class="p-inputtext-sm" type="text" aria-describedby="title-help" pInputText [(ngModel)]="title" />
        </div>
        <div class="p-field">
            <small id="title-help">Enter a full description for the course.</small>
            <p-editor [(ngModel)]="description" [style]="{'height':'200px'}"></p-editor>
        </div>
  </p-card>
  <p-card header="Create Sections" class="create-section">
    <p class="create-section__description">
        <i class="pi pi-exclamation-circle"></i>
        Add your course content, whether it's video sections, surveys, articles, and resources.
        Click the + icon on the left to create the section.
    </p>
      <app-sections
        *ngFor="let section of sections"
        [data]="section"
        (save)="updateSection($event)">
    </app-sections>
      <div class="d-flex justify-content-center mt-3">
        <button class="default-btn"
        (click)="add()"
        [disabled]="disableAdd(sections)"
        >
            <i class='bx bx-plus-circle icon-arrow before'></i>
            <span class="label">New Section</span>
            <i class="bx bx-plus-circle icon-arrow after"></i>
      </button>
      </div>
  </p-card>
</div>
