<div class="container-fluid">
  <div class="page-title-content">
    <ul>
      <li><a routerLink="../../../admin">Admin</a></li>
      <li><a routerLink="../../../admin">Courses</a></li>
      <li>Edit Course</li>
    </ul>
    <h2>Edit Course</h2>
  </div>
  <app-dashboard-tabs>
    <ng-container description>
      <p>
        Hello <strong>James Anderson</strong> (not
        <strong>James Anderson</strong>? <a routerLink="/">Log out</a>)
      </p>
      <p>
        From your account dashboard you can view your
        <a>courses</a>, manage your
        <a routerLink="edit-address">shipping and billing addresses</a>,
        <a routerLink="edit-account">edit your password</a>, and
        <a routerLink="edit-account">account details</a>.
      </p>
    </ng-container>
    <tab icon="bx bx-edit" label="Home page">
      <app-home-page></app-home-page>
    </tab>
    <tab icon="bx bx-edit" label="Sections">
      <app-create-section></app-create-section>
    </tab>
    <tab icon="bx bx-edit" label="Final Quiz"> </tab>
  </app-dashboard-tabs>
</div>

<p-toast></p-toast>
