section {
    background-color: #f8f9fa;
    padding-top: 250px;
    padding-bottom: 100px;
}

:host ::ng-deep .page-title-content {
    h2 {
        color: black;
    }
    ul li, ul li::before {
        color: black;
    }

    ul li a {
        color: black;
        &:hover {
            color: red;
        }
    }
}
