<div class="admin-container">
  <div
    class="overlay"
    [class]="{ activeOverlay: viewMenu }"
    (click)="viewMenu = false"
  ></div>
  <div class="admin-side-nav" [class]="{ active: viewMenu }">
    <ul class="menu-list">
      <li *ngFor="let item of items" class="menu-item">
        <i [class]="item.icon"></i>
        <span>{{ item.label }}</span>
      </li>
    </ul>
  </div>
  <div class="w-100" style="background-color: #f8f9fa">
    <app-admin-header (openNav)="viewMenu = !viewMenu"></app-admin-header>
    <section>
      <div class="container-lg">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</div>
