@import '../../../../assets/sass/components/scrollbar.scss';

//Vars
$viewCourseSectionsHeader: 4rem;
$sideNavTransition: 0.5s;
$sideNavWidth: 270px;
$menuItemPadX: 15px;

.show-panel {
  position: absolute;
  height: 3rem;
  top: calc(10vh + 10px);
  right: -0px;
  z-index: 1000;
  padding: 0.5rem 0px 0.5rem 0;
  width: 3rem;
  background-color: var(--optionalColor2);
  transition: all 0.3s ease-out;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  span {
    display: inline;
    text-align: center;
    color: white;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 600;
    vertical-align: middle;
  }
  & > div {
    height: 100%;
    width: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
  i {
    font-size: 1.2rem;
  }
  &:hover {
    width: 240px;
  }
}
.view-course {
  min-height: 100vh;
  display: flex;
  background-color: #f8f9fa;
  .view-course__lesson {
    padding: 1.5rem 1rem;
    width: 75%;
    transition: width 0.2s ease-out;
    &.active {
      width: 100%;
    }
  }
  .view-course__sections {
    position: sticky;
    top: 0px;
    width: 25%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    &.active {
      min-width: 0px;
      width: 0px;
    }
    transition: width 0.2s ease-out;
    .view-course__sections__header {
      background-color: var(--mainColor);
      height: $viewCourseSectionsHeader;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 1.2rem;
      white-space: nowrap;
      * {
        margin: 0;
        color: white;
      }
    }
    ::ng-deep .view-course__sections__list {
      @include scrollbar(var(--mainColor));
      &.p-accordion p-accordiontab:first-child .p-accordion-header .p-accordion-header-link {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      &.p-accordion p-accordiontab .p-accordion-header .p-accordion-header-link {
        background-color: white;
      }
      max-height: calc(100vh - #{$viewCourseSectionsHeader});
      overflow-y: auto;
    }
  }
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #10236077;
  width: 0px;
  opacity: 0;
  transition: opacity $sideNavTransition;
  z-index: 1000;
}

@media (max-width: 1000px) {
  .show-panel {
    display: none;
  }
  .view-course {
    .view-course__sections {
      position: fixed;
      z-index: 1000;
      width: $sideNavWidth;
      right: 0;
      &.active {
        width: 0px;
      }
    }
    .view-course__lesson {
      width: 100%;
    }
  }
  .overlay.activeOverlay {
    position: fixed;
    width: 100vw;
    opacity: 1;
  }
}
