<app-header></app-header>
<div
  class="overlay"
  [class]="{ activeOverlay: sectionPanel }"
  (click)="toggleSectionPanel()"
></div>
<div class="view-course">
  <div
    *ngIf="!sectionPanel"
    class="show-panel"
    (click)="toggleSectionPanel()"
    pRipple
  >
    <div>
      <i class="pi pi-arrow-left"></i>
    </div>
    <span class="h5">Course Content</span>
  </div>
  <div class="view-course__lesson" [class]="{ active: !sectionPanel }">
    <ng-container *ngIf="actualLesson?.type === 'Video'">
      <app-video-lesson [lesson]="actualLesson"></app-video-lesson>
    </ng-container>
    <ng-container *ngIf="actualLesson?.type === 'Article'">
      <app-article-lesson [lesson]="actualLesson"></app-article-lesson>
    </ng-container>
    <ng-container
      *ngIf="
        actualLesson?.type === 'Quiz' || actualLesson?.type === 'FinalQuiz'
      "
    >
      <app-quiz [lesson]="actualLesson"></app-quiz>
    </ng-container>
    <ng-container *ngIf="actualLesson === null">
      <div style="width: 100%; height: 200vh; background-color: black"></div>
    </ng-container>
  </div>
  <div class="view-course__sections" [class]="{ active: !sectionPanel }">
    <div class="view-course__sections__header">
      <h2 class="h5">Course Content</h2>
      <button
        (click)="toggleSectionPanel()"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-rounded p-button-secondary p-button-text"
      ></button>
    </div>
    <p-accordion [multiple]="true" styleClass="view-course__sections__list">
      <p-accordionTab
        [header]="'Section ' + (i + 1)"
        *ngFor="let section of course.sections; let i = index"
      >
        <ul class="list-group">
          <li
            class="list-group-item list-group-item-action"
            *ngFor="let lesson of section.lectures; let i = index"
          >
            <strong>{{ lesson.count }}.</strong> {{ lesson.title }}
          </li>
        </ul>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
