<app-header (logout)="logout()"></app-header>
<div
  class="overlay"
  [class]="{ activeOverlay: sectionPanel }"
  (click)="toggleSectionPanel()"
></div>
<div class="view-course" *ngIf="course">
  <div
    *ngIf="!sectionPanel"
    class="show-panel"
    (click)="toggleSectionPanel()"
    pRipple
  >
    <div>
      <i class="pi pi-arrow-left"></i>
    </div>
    <span class="h5">Course Content</span>
  </div>
  <div class="view-course__lesson" [class]="{ active: !sectionPanel }">
    <div
      *ngIf="hasPrevButton(actualLesson)"
      class="nav-course-button prev-button"
      (click)="prevLesson(actualLesson)"
      [style]="{
        top: navPosition
      }"
      pRipple
    >
      <i class="pi pi-chevron-left"></i>
      <div class="info">
        <span>{{ getNextLesson(actualLesson, false) }}</span>
      </div>
    </div>
    <div
      *ngIf="hasNextButton(actualLesson, lessonList)"
      class="nav-course-button next-button"
      (click)="nextLesson(actualLesson)"
      [style]="{
        top: navPosition
      }"
      pRipple
    >
      <i class="pi pi-chevron-right"></i>
      <div class="info">
        <span>{{ getNextLesson(actualLesson) }}</span>
      </div>
    </div>
    <ng-container *ngIf="showFinalQuiz">
      <app-final-quiz></app-final-quiz>
    </ng-container>
    <ng-container *ngIf="!showFinalQuiz">
      <ng-container *ngFor="let lesson of lessonList; let iLesson = index">
        <div
          @fadeInOut
          (@fadeInOut.done)="animationDone()"
          *ngIf="actualLesson?.id === lesson.id"
          style="width: 100%"
        >
          <ng-container *ngTemplateOutlet="lessonPage"></ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #lessonPage>
      <ng-container
        *ngIf="
          actualLesson?.youtube_id !== 'null' &&
          actualLesson?.youtube_id !== '0'
        "
      >
        <app-video-lesson
          (videoEnded)="nextLesson($event)"
          [lesson]="actualLesson"
        ></app-video-lesson>
      </ng-container>
      <ng-container
        *ngIf="
          (actualLesson?.youtube_id === 'null' ||
            actualLesson?.youtube_id === '0') &&
          !actualLesson?.is_quiz
        "
      >
        <app-article-lesson [lesson]="actualLesson"></app-article-lesson>
      </ng-container>
      <ng-container *ngIf="actualLesson?.is_quiz">
        <app-quiz
          [lesson]="actualLesson"
          (answered)="nextLesson(actualLesson)"
        ></app-quiz>
      </ng-container>
      <ng-container *ngIf="actualLesson === null">
        <div style="width: 100%; height: 200vh; background-color: black"></div>
      </ng-container>
    </ng-template>
  </div>
  <div class="view-course__sections" [class]="{ active: !sectionPanel }">
    <div class="view-course__sections__header">
      <h2 class="h5">Course Content</h2>
      <button
        (click)="toggleSectionPanel()"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-rounded p-button-secondary p-button-text"
      ></button>
    </div>
    <p-accordion [multiple]="true" styleClass="view-course__sections__list">
      <ng-container *ngFor="let section of course.sections; let i = index">
        <p-accordionTab
          *ngIf="section.lessons?.length"
          [header]="'Section ' + (i + 1)"
          [(selected)]="sectionTabs[i]"
        >
          <ul class="list-group">
            <li
              class="list-group-item list-group-item-action"
              [class]="{
                'lesson-selected': actualLesson?.id === lesson.id,
                disabled: lesson.count > lastLesson.count
              }"
              *ngFor="let lesson of section.lessons; let i = index"
              (click)="selectLesson(lesson)"
            >
              <strong>{{ lesson.countToShow }}.</strong>
              {{ lesson.title }}
              <span
                *ngIf="lesson.answered"
                class="p-ml-3"
                [class]="lesson.testOk ? 'quiz-correct' : 'quiz-incorrect'"
                >{{ lesson.testOk ? 'Correct' : 'Incorrect' }}
                <i
                  class="pi"
                  [class]="lesson.testOk ? 'pi-check-circle' : 'pi-times'"
                ></i
              ></span>
            </li>
          </ul>
        </p-accordionTab>
      </ng-container>
      <p-accordionTab
        header="Final quiz"
        class="final-quiz"
        [disabled]="
          lastLesson?.count !== lessonList[lessonList.length - 1].count
        "
        (click)="canShowFinalQuiz()"
      >
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
<p-toast></p-toast>
<app-start-final-quiz-modal
  [show]="askForFinalQuiz"
  (accept)="canShowFinalQuiz()"
></app-start-final-quiz-modal>
