<div class="container-lg">
  <div class="page-title-content p-mb-5">
    <ul>
      <li><a routerLink="../../">Admin</a></li>
      <li><a routerLink="../">Payments</a></li>
      <li>Users without payments</li>
    </ul>
    <h2>Users</h2>
  </div>
  <ng-container *ngIf="loadingUsers">
    <div class="d-flex justify-content-center align-items-center w-100">
      <p-progressSpinner
        styleClass="custom-spinner blue"
        strokeWidth="5"
        [style]="{
          width: '100px',
          height: '100px'
        }"
      ></p-progressSpinner>
    </div>
  </ng-container>
  <ng-container *ngIf="users?.length && !loadingUsers">
    <p-table
      [value]="users"
      dataKey="id"
      tableStyleClass="p-datatable-responsive"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th *ngFor="let col of userCols">{{ col }}</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-expanded="expanded">
        <tr>
          <td style="width: 3rem"></td>
          <td *ngFor="let row of userRows; let iCol = index">
            <span class="p-column-title">{{ userCols[iCol] }}</span>
            {{ row === 'status' ? statuses[user[row]].description : user[row] }}
          </td>
          <td>
            <span class="p-column-title">Actions</span>
            <div class="d-inline-flex justify-content-center flex-wrap">
              <a routerLink="../" [queryParams]="{ user: user.id }">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-eye"
                  class="p-button-rounded p-button-outlined btn-action"
                ></button>
              </a>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-outlined btn-action"
                (click)="editStatus(user)"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
  <ng-container *ngIf="!users?.length && !loadingUsers">
    <div
      class="d-flex justify-content-center align-items-center w-100"
      style="height: 200px"
    >
      <span class="h1">No data available</span>
    </div>
  </ng-container>
</div>

<app-user-status
  [user]="selectedUser"
  [(show)]="showStatusModal"
  (modified)="modified()"
></app-user-status>
