<app-header-style-two></app-header-style-two>

<div class="page-title-area item-bg1">
  <div class="container">
    <div class="page-title-content">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>My Dashboard</li>
      </ul>
      <h2>My Dashboard</h2>
    </div>
  </div>
</div>

<div class="my-dashboard-area ptb-100">
  <div class="container">
    <div class="myDashboard-profile">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-5">
          <div class="profile-image">
            <img src="assets/img/instructor/instructor1.jpg" alt="image" />
          </div>
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="profile-content">
            <h3>{{ user.name }}</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
              atque officiis maxime suscipit expedita obcaecati nulla in
              ducimus.
            </p>
            <ul class="contact-info">
              <li>
                <i class="bx bx-envelope"></i>
                <a href="mailto:hello@jamesanderson.com">{{ user.email }}</a>
              </li>
              <li *ngIf="user.phone">
                <i class="bx bx-phone"></i>
                <a [href]="user.phone">{{ user.phone }}</a>
              </li>
              <!-- <li>
                <i class="bx bx-world"></i>
                <a href="#" target="_blank">www.jamesanderson.com</a>
              </li> -->
            </ul>
            <ul class="social">
              <li>
                <a href="#" class="d-block" target="_blank"
                  ><i class="bx bxl-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#" class="d-block" target="_blank"
                  ><i class="bx bxl-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#" class="d-block" target="_blank"
                  ><i class="bx bxl-instagram"></i
                ></a>
              </li>
              <li>
                <a href="#" class="d-block" target="_blank"
                  ><i class="bx bxl-linkedin"></i
                ></a>
              </li>
              <li>
                <a href="#" class="d-block" target="_blank"
                  ><i class="bx bxl-pinterest-alt"></i
                ></a>
              </li>
            </ul>
            <a (click)="logoutButton()" class="myDashboard-logout">
              Logout
              <p-progressSpinner
                *ngIf="loadingLogOutButton"
                styleClass="custom-spinner"
                strokeWidth="7"
                [style]="{
                  width: '22px',
                  height: '22px'
                }"
              ></p-progressSpinner>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="myDashboard-navigation">
      <ul>
        <li>
          <a
            routerLink="/student"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="bx bxs-dashboard"></i> Dashboard</a
          >
        </li>
        <li>
          <a routerLink="edit-address" [routerLinkActive]="['active']"
            ><i class="bx bx-home-alt"></i> Addresses</a
          >
        </li>
        <li>
          <a routerLink="edit-account" [routerLinkActive]="['active']"
            ><i class="bx bx-edit"></i> Account Details</a
          >
        </li>
        <li>
          <a (click)="logoutPanel()" style="cursor: pointer"
            ><i class="bx bx-log-out"></i>
            <span style="vertical-align: middle">Logout</span>
            <p-progressSpinner
              *ngIf="loadingLogOutPanel"
              styleClass="custom-spinner blue ml-1"
              strokeWidth="7"
              [style]="{
                verticalAlign: 'middle',
                width: '22px',
                height: '22px'
              }"
            ></p-progressSpinner>
          </a>
        </li>
      </ul>
    </div>
    <div class="myDashboard-content">
      <p>
        Hello <strong>James Anderson</strong> (not
        <strong>James Anderson</strong>? <a routerLink="/">Log out</a>)
      </p>
      <p>
        From your account dashboard you can view your
        <a>courses</a>, manage your
        <a routerLink="edit-address">shipping and billing addresses</a>,
        <a routerLink="edit-account">edit your password</a>, and
        <a routerLink="edit-account">account details</a>.
      </p>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
