<div id="certificate" #certificate>
  <div class="certificate-container">
    <div class="certificate-header">
      <img src="assets/img/english-logo.png" />
      <div>
        <span>
          Nro de referencia: <strong>{{ id }}</strong>
        </span>
        <span>
          Fecha: <strong>{{ date }}</strong>
        </span>
      </div>
    </div>
    <div class="certificate-body">
      <div class="certificate-body__content">
        <span class="certificate-field">CERTIFICADO DE FINALIZACIÓN:</span>
        <h1>{{ title }}</h1>
      </div>
    </div>
    <div class="certificate-footer">
      <span class="certificate-field">Estudiante:</span>
      <h2>{{ name }}</h2>
    </div>
  </div>
</div>
