<div class="admin-container">
  <div
    class="overlay"
    [class]="{ activeOverlay: viewMenu }"
    (click)="viewMenu = false"
  ></div>
  <div class="admin-side-nav" [class]="{ active: viewMenu }">
    <div pRipple class="admin-side-nav__close" (click)="viewMenu = false">
      <i class="pi pi-times"></i>
    </div>
    <img class="admin-side-nav__logo" src="assets/img/logoEN.png" alt="logo" />
    <div class="menu-list-container">
      <ng-container *ngIf="items">
        <ng-container
          *ngTemplateOutlet="menu; context: { $implicit: items, lvl: 0 }"
        >
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="admin-content" [class]="{ active: viewMenu }">
    <app-admin-header
      (openNav)="viewMenu = !viewMenu"
      (logout)="logout()"
    ></app-admin-header>
    <section>
      <div
        class="container-lg"
        [@routeAnimations]="
          o && o.activatedRouteData && o.activatedRouteData['animation']
        "
      >
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </section>
  </div>
</div>

<ng-template #menu let-items let-lvl="lvl">
  <ul class="menu-list">
    <ng-container *ngFor="let item of items; let i = index">
      <li
        *ngIf="!item.admin || actualUser.role === roles.admin"
        [routerLink]="item.route"
        (click)="openMenu(i)"
        class="menu-item-container"
        [ngClass]="{ 'menu-item-container--open': item.open }"
      >
        <div class="menu-item" [style.paddingLeft]="44 * lvl + 'px'">
          <i [ngClass]="[item.icon, 'menu-item__icon']"></i>
          <span>
            {{ item.label }}
            <i
              *ngIf="item.routes"
              class="pi pi-angle-down menu-item__arrow"
              [ngClass]="{ 'menu-item__arrow--open': item.open }"
            ></i>
          </span>
        </div>
        <div *ngIf="item.routes" class="menu-item__sublist">
          <ng-container
            *ngTemplateOutlet="
              menu;
              context: { $implicit: item.routes, lvl: lvl + 1 }
            "
          >
          </ng-container>
        </div>
      </li>
    </ng-container>
  </ul>
</ng-template>
