section {
    background-color: #f8f9fa;
    padding-top: 70px;
    padding-bottom: 100px;
    overflow-x: hidden;
    position: relative;
}

:host ::ng-deep .page-title-content {
    h2 {
        color: black;
    }
    ul li, ul li::before {
        color: black;
    }

    ul li a {
        color: black;
        &:hover {
            color: red;
        }
    }
}

$sideNavTransition: 0.5s;
$sideNavWidth: 270px;
$menuItemPadX: 15px;
:host ::ng-deep .admin-container {
    display: flex;
    position: relative;
    min-height: 100vh;
    .overlay {
        top: 0;
        bottom: 0;
        left: 0;
        background-color: #10236077;
        width: 0px;
        opacity: 0;
        transition: opacity $sideNavTransition;
        z-index: 1000;
    }
    .admin-side-nav {
        position: relative;
        padding-top: 50px;
        top: 0;
        bottom: 0;
        left: 0;
        width: calc(30px + 25px + #{$menuItemPadX});
        overflow: hidden;
        background-color: var(--optionalColor2);
        transition: width $sideNavTransition;
        &.active {
            width: $sideNavWidth;
            min-width: $sideNavWidth;
        }
        .admin-side-nav__close {
          position: absolute;
          top: 0;
          right: 0;
          display: none;
          justify-content: center;
          align-items: center;
          margin: 10px;
          font-size: 1.2rem;
          color: white;
          cursor: pointer;
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
        .admin-side-nav__logo {
          height: 70px;
          margin: auto;
          display: none;
        }
        .menu-list {
            padding: 20px 0;
            width: 100%;
            list-style: none;
        }
        .menu-list .menu-item {
            position: relative;
            color: white;
            font-size: 0.9rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px $menuItemPadX;
            width: $sideNavWidth;
            cursor: pointer;
            background-color: transparent;
            transition: all 0.2s;
            i {
                margin-left: 10px;
                margin-right: 15px;
                font-size: 1.2rem;
                width: 25px;
            }
            span {
                margin-left: 8px;
                transition: transform 0.2s;
            }
            &.clicked {
              background-color: mix(#af3a2b, white, 80%);
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 7px;
                background-color: #af3a2b;
                opacity: 0;
                transition: opacity 0.3s;
            }
            &:hover {
                background-color: mix(#af3a2b, white, 65%);
                span {
                    transform: translateX(10px);
                }
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    .admin-content {
      background-color: #f8f9fa;
      width: 100%;
      transition: width $sideNavTransition;
      &.active {
        width: calc(100% - #{$sideNavWidth});
      }
    }
}

@media screen and (max-width: 1000px) {
    .admin-container {
      .admin-content.active {
        width: 100vw;
      }
      .admin-side-nav {
        position: fixed;
        z-index: 1000;
        width: 0px;
        &.active {
          width: $sideNavWidth;
        }
        .admin-side-nav__logo {
          display: block;
        }
        .admin-side-nav__close {
          display: flex;
        }
      }
      .overlay.activeOverlay {
          position: fixed;
          width: 100vw;
          opacity: 1;
      }
    }

}
