section {
    background-color: #f8f9fa;
    padding-top: 70px;
    padding-bottom: 100px;
}

:host ::ng-deep .page-title-content {
    h2 {
        color: black;
    }
    ul li, ul li::before {
        color: black;
    }

    ul li a {
        color: black;
        &:hover {
            color: red;
        }
    }
}

$sideNavTransition: 0.5s;
$menuItemPadX: 15px;
:host ::ng-deep .admin-container {
    display: flex;
    position: relative;
    min-height: 100vh;
    .overlay {
        top: 0;
        bottom: 0;
        left: 0;
        background-color: #10236077;
        width: 0px;
        opacity: 0;
        transition: opacity $sideNavTransition;
        z-index: 1000;
    }
    .admin-side-nav {
        position: relative;
        padding-top: 50px;
        top: 0;
        bottom: 0;
        left: 0;
        width: calc(30px + 25px + #{$menuItemPadX});
        overflow: hidden;
        background-color: var(--optionalColor2);
        transition: width $sideNavTransition;
        &.active {
            width: 300px;
        }
        .menu-list {
            padding: 20px 0;
            width: 100%;
            list-style: none;
        }
        .menu-list .menu-item {
            position: relative;
            color: white;
            font-size: 0.9rem;
            display: flex;
            justify-content: end;
            align-items: center;
            padding: 10px $menuItemPadX;
            width: 100%;
            cursor: pointer;
            background-color: transparent;
            transition: all 0.3s;
            white-space: nowrap;
            i {
                margin-left: 15px;
                margin-right: 15px;
                font-size: 1.2rem;
            }
            span {
                margin-left: 8px;
            }
            &.clicked {
              background-color: mix(#af3a2b, white, 80%);
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 7px;
                background-color: #af3a2b;
                opacity: 0;
                transition: opacity 0.3s;
            }
            &:hover {
                background-color: mix(#af3a2b, white, 65%);
                span {
                    transform: translateX(10px);
                }
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 40rem) {
    .admin-container .admin-side-nav {
        position: fixed;
        z-index: 1000;
        width: 0px;
        &.active {
            width: 300px;
        }
    }
    .admin-container .overlay.activeOverlay {
        position: fixed;
        width: 100vw;
        opacity: 1;
    }

}
