<div class="admin-container">
  <div
    class="overlay"
    [class]="{ activeOverlay: viewMenu }"
    (click)="viewMenu = false"
  ></div>
  <div class="admin-side-nav" [class]="{ active: viewMenu }">
    <div pRipple class="admin-side-nav__close" (click)="viewMenu = false">
      <i class="pi pi-times"></i>
    </div>
    <img class="admin-side-nav__logo" src="assets/img/logoEN.png" alt="logo" />
    <ul class="menu-list">
      <ng-container *ngFor="let item of items">
        <li
          *ngIf="!item.admin || actualUser.role === roles.admin"
          class="menu-item"
          [routerLink]="item.route"
        >
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="admin-content" [class]="{ active: viewMenu }">
    <app-admin-header
      (openNav)="viewMenu = !viewMenu"
      (logout)="logout()"
    ></app-admin-header>
    <section>
      <div
        class="container-lg"
        [@routeAnimations]="
          o && o.activatedRouteData && o.activatedRouteData['animation']
        "
      >
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </section>
  </div>
</div>
