section {
  background-color: var(--bgGrey);
  padding-top: 70px;
  padding-bottom: 100px;
  position: relative;
}

:host ::ng-deep .page-title-content {
    h2 {
        color: black;
    }
    ul li, ul li::before {
        color: black;
    }

    ul li a {
        color: black;
        &:hover {
            color: red;
        }
    }
}

$sideNavTransition: 0.5s;
$sideNavWidth: 290px;
$menuItemPadX: 15px;
:host ::ng-deep .admin-container {
  display: flex;
  position: relative;
  min-height: 100vh;
  .admin-content {
    background-color: var(--bgGrey);
    width: 100%;
    transition: width $sideNavTransition;
    &.active {
      width: calc(100% - #{$sideNavWidth});
    }
  }
}

@media screen and (max-width: 1000px) {
  .admin-container {
    .admin-content.active {
      width: 100vw;
    }
  }
}
