<header #btn class="header-area p-relative">
  <div class="top-header top-header-style-four">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-8">
          <ul class="top-header-contact-info">
            <li>
              Call:
              <div
                class="d-inline"
                *ngFor="let phone of phones; let index = index"
              >
                <a [href]="phone.url">{{ phone.number }}</a>
                <div
                  *ngIf="index !== phones.length - 1 ? 'or' : ''"
                  class="d-inline mx-2"
                >
                  or
                </div>
              </div>
            </li>
          </ul>
          <div class="top-header-social">
            <span>Follow us:</span>
            <ng-container *ngFor="let network of rrss | keyvalue">
              <a [href]="network.value.url" target="_blank"
                ><i [class]="network.value.icon"></i
              ></a>
            </ng-container>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <ul class="top-header-login-register">
            <li>
              <a routerLink="/login"><i class="bx bx-log-in"></i> Login</a>
            </li>
            <li>
              <a routerLink="/register"
                ><i class="bx bx-log-in-circle"></i> Register</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div
    class="navbar-area navbar-style-three"
    ngStickyNav
    stickyClass="sticky-box-shadow"
  >
    <div class="container">
      <nav
        class="admin-navbar navbar navbar-light bg-light"
        [class.active]="classApplied"
      >
        <div class="p-mr-3 menu-btn p-pl-3 d-flex align-items-center">
          <button
            (click)="open()"
            pButton
            pRipple
            type="button"
            icon="pi pi-bars"
            class="p-button-plain p-button-lg p-button-rounded p-button-text"
          ></button>
        </div>
        <a class="navbar-brand p-pt-1 p-pb-1"
          ><img style="height: 70px" src="assets/img/logoEN.png" alt="logo"
        /></a>
        <div
          style="display: flex !important; flex-basis: auto; flex-grow: 1"
        ></div>
        <div style="position: relative">
          <div
            pRipple
            (click)="viewProfile = !viewProfile"
            class="p-ml-5 p-pr-3 p-pl-3 menu-btn"
          >
            <div class="p-mr-2">
              <p-avatar label="P" styleClass="p-mr-2" shape="circle"></p-avatar>
              <span>Admin</span>
            </div>
            <i class="pi pi-angle-down"></i>
          </div>
          <div class="menu-list" [class]="{ active: viewProfile }">
            <p-menu #menu [model]="items" [appendTo]="btn"></p-menu>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
