<header #btn class="header-area p-relative">
  <div class="top-header top-header-style-four">
    <ul class="top-header-contact-info">
      <li>
        Call:
        <div class="d-inline" *ngFor="let phone of phones; let index = index">
          <a [href]="phone.url">{{ phone.number }}</a>
          <div
            *ngIf="index !== phones.length - 1 ? 'or' : ''"
            class="d-inline mx-2"
          >
            or
          </div>
        </div>
      </li>
    </ul>
    <div class="top-header-social">
      <span>Follow us:</span>
      <ng-container *ngFor="let network of rrss | keyvalue">
        <a [href]="network.value.url" target="_blank"
          ><i [class]="network.value.icon"></i
        ></a>
      </ng-container>
    </div>
  </div>
  <div
    class="navbar-area navbar-style-three"
    ngStickyNav
    stickyClass="sticky-box-shadow"
  >
    <div class="container">
      <nav
        class="admin-navbar navbar navbar-light bg-light"
        [class.active]="classApplied"
      >
        <div
          class="p-mr-md-3 p-mr-xs-1 menu-btn p-pl-3 d-flex align-items-center"
        >
          <button
            (click)="open()"
            pButton
            pRipple
            type="button"
            icon="pi pi-bars"
            class="p-button-plain p-button-lg p-button-rounded p-button-text"
          ></button>
        </div>
        <a class="navbar-brand p-pt-1 p-pb-1" routerLink="/"
          ><img style="height: 60px" src="assets/img/logoEN.png" alt="logo"
        /></a>
        <div
          style="display: flex !important; flex-basis: auto; flex-grow: 1"
        ></div>
        <div class="menu-btn p-mr-md-3 p-mr-sm-1">
          <button
            (click)="logout.emit()"
            pButton
            pRipple
            type="button"
            icon="pi pi-fw pi-power-off"
            label="Logout"
            class="p-button-plain p-button-md p-button-text"
          ></button>
        </div>
      </nav>
    </div>
  </div>
</header>
