<h3>Recent Orders</h3>
<div class="recent-orders-table table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let item of courseCols">
          {{ item }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of list | async">
        <td>{{ row.id }}</td>
        <td>{{ row.title }}</td>
        <td>{{ row.subtitle }}</td>
        <td>{{ row.sections.length }}</td>
        <td>
          <div class="d-flex justify-content-around" style="width: 200px">
            <a [routerLink]="'course-detail/' + row.id" class="view-button"
              >Details</a
            >
            <a [routerLink]="'view-course/' + row.id" class="view-button"
              >View</a
            >
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
