<h3>My Courses</h3>
<div
  class="recent-orders-table table-responsive"
  *ngIf="(list | async).length; else noCourses"
>
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let item of courseCols">
          {{ item }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of list | async">
        <td>{{ row.id }}</td>
        <td>{{ row.title }}</td>
        <td>{{ row.subtitle }}</td>
        <td>{{ row.sections.length }}</td>
        <td>
          <div class="d-flex justify-content-around" style="width: 200px">
            <!-- <a [routerLink]="'course-detail/' + row.id" class="view-button"
              >Details</a
            > -->
            <a (click)="toCourse(row.id)" class="view-button"> View </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noCourses>
  <h4 class="no-course">No course available</h4>
</ng-template>
