@mixin scrollbar($color: var(--optionalColor), $width: 0.6rem) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  }
  /* For firefox compatibility */
  scrollbar-color: $color #f0f0f0;
  scrollbar-width: thin;
}
