<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-footer-widget mb-30" id="contact">
          <h3>Contact Us</h3>
          <ul class="contact-us-link">
            <!-- <li>
              <i class="bx bx-map"></i>
              <a href="#" target="_blank"
                >2750 Quadra Street Victoria Road, New York, United States</a
              >
            </li> -->
            <li>
              <i class="bx bx-phone-call"></i>
              <div
                class="d-inline"
                *ngFor="let phone of phones; let index = index"
              >
                <a [class]="{ 'ml-1': index !== 0 }" [href]="phone.url">{{
                  phone.number
                }}</a>
                {{ index !== phones.length - 1 ? ',' : '' }}
              </div>
            </li>
            <li>
              <i class="bx bx-envelope"></i>
              <a href="mailto:hello@ednuv.com">hello@ednuv.com</a>
            </li>
          </ul>
          <ul class="social-link">
            <li *ngFor="let network of rrss | keyvalue">
              <a [href]="network.value.url" class="d-block" target="_blank"
                ><i [class]="network.value.icon"></i
              ></a>
            </li>
            <!-- <li>
              <a href="#" class="d-block" target="_blank"
                ><i class="bx bxl-linkedin"></i
              ></a>
            </li> -->
            <!-- <li>
              <a href="#" class="d-block" target="_blank"
                ><i class="bx bxl-pinterest-alt"></i
              ></a>
            </li> -->
          </ul>
        </div>
      </div>
      <!-- <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget mb-30">
          <h3>Support</h3>
          <ul class="support-link">
            <li><a routerLink="/">Privacy</a></li>
            <li><a routerLink="/">FAQ's</a></li>
            <li><a routerLink="/">Support</a></li>
            <li><a routerLink="/">Terms</a></li>
            <li><a routerLink="/">Condition</a></li>
            <li><a routerLink="/">Policy</a></li>
          </ul>
        </div>
      </div> -->
      <!-- <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget mb-30">
          <h3>Useful Link</h3>
          <ul class="useful-link">
            <li><a routerLink="/">Web Design</a></li>
            <li><a routerLink="/">UI/UX Design</a></li>
            <li><a routerLink="/">WP Development</a></li>
            <li><a routerLink="/">App</a></li>
            <li><a routerLink="/">Whitepaper</a></li>
            <li><a routerLink="/">Web Development</a></li>
          </ul>
        </div>
      </div> -->
      <div class="offset-lg-4 col-lg-4 col-md-6 col-sm-6">
        <div class="single-footer-widget mb-30">
          <h3>Newsletter</h3>
          <div class="newsletter-box">
            <p>To get the latest news and latest updates from us.</p>
            <form class="newsletter-form">
              <label>Your e-mail address:</label>
              <input
                type="email"
                class="input-newsletter"
                placeholder="Enter your email"
                name="EMAIL"
              />
              <button type="submit">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-area">
    <div class="container">
      <div class="logo">
        <a routerLink="/" class="d-inline-block"
          ><img style="height: 100px" src="assets/img/logoEN.png" alt="image"
        /></a>
      </div>
      <p>
        <i class="bx bx-copyright"></i>{{ year }}
        <a routerLink="/" target="_blank">Easy English</a> | All rights
        reserved.
      </p>
    </div>
  </div>
</footer>

<ngx-scrolltop></ngx-scrolltop>
