<div class="app-modal-container" *ngIf="show" [@listFade]>
  <div>
    <button
      class="app-modal-close close-button"
      (click)="emitAction(modalAction.close)"
      *ngIf="showClose"
      [disabled]="loading"
    >
      <i class="pi pi-times"></i>
    </button>
    <h3>
      <ng-content select="[title]"></ng-content>
    </h3>
    <p>
      <ng-content select="[description]"></ng-content>
    </p>
    <div class="app-modal-footer" *ngIf="footer">
      <button
        pButton
        pRipple
        type="button"
        [label]="acceptText"
        class="p-button-raised p-button-danger"
        (click)="emitAction(modalAction.accept)"
        [disabled]="disableAccept || loading"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        [label]="cancelText"
        class="p-button-outlined p-button-secondary"
        (click)="emitAction(modalAction.cancel)"
        [disabled]="loading"
      ></button>
    </div>
  </div>
</div>
