.header-area {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  width: 100%;
  z-index: 999;

  &.p-relative {
      position: relative;
  }
}
.navbar-style-three {
  margin-top: 0;

  .navbar {
      border-radius: 0;
      padding: 0;

      .navbar-nav {
          margin: {
              left: auto;
              right: 0px;
          };
      }
  }
}
.bg-light {
  background-color: transparent !important;
}

@media only screen and (max-width: 767px) {
  .navbar-light {
      .navbar-toggler {
          color: var(--blackColor);
          font-size: inherit;
          border: none;
          padding: 0;
          box-shadow: unset;

          .burger-menu {
              cursor: pointer;

              span {
                  height: 2px;
                  width: 30px;
                  margin: 6px 0;
                  display: block;
                  background: var(--blackColor);
              }
          }
      }
      &.active {
          .navbar-toggler {
              .burger-menu {
                  span {
                      &.top-bar {
                          transform: rotate(45deg);
                          transform-origin: 10% 10%;
                      }
                      &.middle-bar {
                          opacity: 0;
                      }
                      &.bottom-bar {
                          transform: rotate(-45deg);
                          transform-origin: 10% 90%;
                          margin-top: 5px;
                      }
                  }
              }
          }
          .collapse:not(.show) {
              display: block;
          }
      }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-light {
      .navbar-toggler {
          color: var(--blackColor);
          font-size: inherit;
          border: none;
          padding: 0;
          box-shadow: unset;

          .burger-menu {
              cursor: pointer;

              span {
                  height: 2px;
                  width: 30px;
                  margin: 6px 0;
                  display: block;
                  background: var(--blackColor);
              }
          }
      }
      &.active {
          .navbar-toggler {
              .burger-menu {
                  span {
                      &.top-bar {
                          transform: rotate(45deg);
                          transform-origin: 10% 10%;
                      }
                      &.middle-bar {
                          opacity: 0;
                      }
                      &.bottom-bar {
                          transform: rotate(-45deg);
                          transform-origin: 10% 90%;
                          margin-top: 5px;
                      }
                  }
              }
          }
          .collapse:not(.show) {
              display: block;
          }
      }
  }

}

header {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
}
.admin-navbar.navbar {
  align-items: stretch;
  //   overflow: hidden;
  }

:host ::ng-deep .menu-btn {
  display: flex;
  align-items: center;
  height: 80px;
  cursor: pointer;
  overflow: hidden;
  .p-ink {
    background: var(--hoverWhiteColor);
  }
  & ~ .menu-list {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 80px;
    height: 0px;
    opacity: 0;
    transition: all 0.3s;
    &.active {
        height: auto;
        opacity: 1;
    }
  }
  &.side-nav-btn {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .menu-btn.side-nav-btn {
    display: flex;
  }
}
